<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(fee) -%>">
  <span class='title'>
    <%= fee.currency %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), fee_path(fee),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_fee_path(fee),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_fee_path(fee),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => fee.currency),
        :method => :delete %>
  </span>
</li>
