<%= form_for [:admin, @fee] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @fee,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :cents -%>
    <%= f.text_field :cents, :class => 'larger widest'  -%>
  </div>
  
  <div class='field'>
    <%= f.label :currency -%>
    <%= f.text_field :currency  -%>
  </div>
  
  <div class='field'>
    <%= f.label :billable_id -%>
    <%= f.text_field :billable_id  -%>
  </div>
  
  <div class='field'>
    <%= f.label :billable_type -%>
    <%= f.text_field :billable_type  -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.fees.fee'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @fee.currency)
              } %>
<% end -%>
